<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <style>
      .htmx-indicator {
        display: none;
      }
        .htmx-request .htmx-indicator { /* Loading ... indicator */
          display: inline;
        }
        .htmx-inverted-indicator {
          display: inline;
        }
        .htmx-request .htmx-inverted-indicator {
          display: none;
        }
    </style>
    <meta charset="utf-8">
    <title>Inventory</title>
  </head>

  <body>
    <form method="GET" action="/articles">
      {% csrf_token %}
      <input type="text" name="q">
      <input type="submit">
    </form>
    {% block content %}
    {% endblock content %}
  </body>
</html>
